/* gives things border for css work */
.box{
    border: solid;
}

.background{
    background-image: url("../images/rock-wall-texture-480x480.jpg");
    padding-top: 60px;
}

.main{
    background-color: bisque;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutImg{
    float: left;
    margin: 10px;
}

.portfolioImg{
    background-image: url("../images/placeholder-200x200.jpg");
}

footer{
    width: 100%;
    padding: 10px;
    background-color: bisque;
    border: solid;
}

h5{
    text-align: center;
}