/* gives things border for css work */
.box{
    border: solid;
}

header{
    position: fixed;
    width: 100%;
    background-color: bisque;
    display: inline-block;
}

.name{
    width: 50%;
}

.navigaion{
    width: 50%;
}

.background{
    background-image: url("../images/rock-wall-texture-480x480.jpg");
    padding-top: 60px;
}


.main{
    background-color: bisque;
}

.img{
    float: left;
}

footer{
    width: 100%;
    padding: 10px;
    background-color: bisque;
    border: solid;
}

h5{
    text-align: center;
}